/* 
#EEEBDD rgb(238, 235, 221) blanco
#810000 rgb(129, 0, 0) rojo
#630000 rgb(99, 0, 0) rojo oscuro
#1B1717 rgb(27, 23, 23) negro?
 */

body {
  margin: 0;
  padding: 0;
  background: #630000 ;
  color: #EEEBDD;
  font-family: 'Reenie Beanie', serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
